/**** Header ***/
@use "../abstracts/variables" as *;

header {
  position: fixed;
  top: 0;
  left: 0; /* important */
  width: 100%; /* important */
  background: $primary-color;
  z-index: 100;
}
.header-main {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  .header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    .nav-left ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      a {
        &:hover {
          transform: scale(1.2); //  a revoir*************
        }
      }
    }
    .nav-right ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      a {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.header-top {
  text-align: center;
  background-color: rgba(51, 51, 51, 1);
  padding: 1rem 0;
}

/*****************************************/

.logo {
  width: 25px;
  height: 25px;
  background-color: $logo-color;
  border-radius: 35%;
  padding: 2px;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-ProSpace {
  color: $tertiary-color;
  font-weight: 600;
}
.logo-Solutions {
  color: $secondary-color;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  .header-nav {
    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      li {
        a {
          color: $secondary-color;
          text-decoration: none;
          font-weight: 600;
          &:hover {
            color: $tertiary-color;
          }
        }
      }
    }
  }
}
