/****/
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Consolas";
  src: url("../../fonts/Consolas-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Consolas";
  src: url("../../fonts/Consolas-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Consola Mono";
  src: url("../fonts/ConsolaMono-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Consola Mono";
  src: url("../fonts/ConsolaMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/***********fonts styles classes ************/
.heading-display {
  font-family: "Inter", sans-serif;
  font-size: 3.75rem;
  font-weight: 800;
}

.heading-secondary {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.heading-hero-explain {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.heading-tertiary {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.text-primary {
  font-family: "Inter", sans-serif;
  font-size: 0.813rem;
}

.text-hero-main {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
}

/*couleur text */
.text-blk {
  color: #0f172a;
}

.color-primary {
  color: white;
}

.color-secondary {
  color: #38bdf8;
}

.color-tertiary {
  color: #0f172a;
}

.color-main {
  color: #62748e;
}

.color-avis {
  color: #90a1b9;
}

.color-main-title {
  color: #cad5e2;
}

/*=== Reset ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*containers*/
.container {
  width: 80%;
  margin: 0 auto;
}

.container-small {
  width: 95%;
  margin: 0 auto;
}

.container-xsmall {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/**** Header ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0f172a;
  z-index: 100;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-link .logo {
  width: 25px;
  height: 25px;
  background-color: #0284c7;
  border-radius: 35%;
  padding: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.navbar .header-nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.navbar .header-nav ul li a {
  text-decoration: none;
}
.navbar .header-nav ul li a:hover {
  color: white;
}

.hero {
  position: relative;
  min-height: 500px;
  background-image: url("../assets/img/banner-hero.png");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.85);
}

.hero-content {
  position: relative;
  z-index: 1;
  top: 5rem;
  margin-top: 2rem;
}

.hero-title {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
.hero-title .hero-title span {
  display: block;
}

.hero-label {
  border: solid 1px rgb(113, 134, 175);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: inline-block;
  background-color: rgb(33, 40, 59);
  margin-bottom: 1rem;
}
