/****/
@font-face {
  font-family: "Arimo-normal";
  src: url("../../fonts/Arimo.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Arimo-italic";
  src: url("../../fonts/Arimo-italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
/***********fonts styles classes ************/
.heading-display {
  font-family: "Arimo-normal", sans-serif;
  font-size: 1.875rem;
}

.heading-secondary {
  font-family: "Arimo-normal", sans-serif;
  font-family: 2rem;
}

.heading-tertiary {
  font-family: "Arimo-normal", sans-serif;
  font-size: 0.875rem;
}

.text-primary {
  font-family: "Arimo-normal", sans-serif;
  font-size: 0.813rem;
}

.text-link-footer {
  font-family: "Arimo-normal", sans-serif;
  font-size: 0.688rem;
}

/*couleur text  and text weight*/
.text-blk {
  color: #0f172a;
}

/*=== Reset ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*containers*/
.container {
  width: 80%;
  margin: 0 auto;
}

.container-small {
  width: 95%;
  margin: 0 auto;
}

.container-xsmall {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/**** Header ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0f172a;
  z-index: 100;
}

/*****************************************/
.logo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-link .logo {
  width: 25px;
  height: 25px;
  background-color: #0284c7;
  border-radius: 35%;
  padding: 2px;
}
.logo-link .logo-ProSpace {
  color: white;
  font-weight: 600;
}
.logo-link .logo-Solutions {
  color: #38bdf8;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.navbar .header-nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.navbar .header-nav ul li a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 600;
}
.navbar .header-nav ul li a:hover {
  color: white;
}

.hero {
  position: relative;
  min-height: 425px;
  background-image: url("../assets/img/banner-hero.png");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.85);
}

.hero-content {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}

.hero-title {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.hero-label {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 4rem;
}
