@use "variables" as *;

/*couleur text */
.text-blk {
  color: $color-bg-hr-ft;
}
//  1 text blanc
.color-primary {
  color: white;
}
//  2 text bleu dans h1 (en france)
.color-secondary {
  color: #38bdf8;
}

//  3 text noir
.color-tertiary {
  color: #0f172a;
}

//  4 text gris pour position salle et a propos
.color-main {
  color: #62748e;
}

//  5 gris clair
.color-avis {
  color: #90a1b9;
}
//  6 gris clair salle de reunion
.color-main-title {
  color: #cad5e2;
}

.color-filter {
  color: #45556c;
}
