/****/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolas-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("../fonts/Consolab.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/***********fonts styles classes ************/

.heading-display {
  font-family: "Inter", sans-serif;
  font-size: 3.75rem; //60px
  font-weight: 800; //extrabold 2.25rem
}
.heading-display-fiche {
  font-family: "Inter", sans-serif;
  font-size: 2.25rem; //36px
  font-weight: 800; //extrabold
}

.heading-secondary {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem; //18px in logo header bold
  font-weight: 700; //bold
}

.heading-secondary-logo-ft {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem; //14px in logo header bold
  font-weight: 700; //bold
}

.heading-hero-explain {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem; //18px
  font-weight: 400; //regular
}

.heading-tertiary {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem; //14px
  font-weight: 400; //regular
}
.heading-tertiary-bis {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem; //14px
  font-weight: 500; //medium
}

.text-primary {
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem; //15px
  font-weight: 600; //semibold
}

.text-notation {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem; //12px
  font-weight: 600; //semibold
}
.text-hero-main {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
}
.text-xsmall {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem; //12PX
  font-weight: 400; //regular
}

/**consolas*/

.text-price {
  font-family: "Consolas", sans-serif;
  font-size: 1.25rem; //20px
  font-weight: 700; //bold
}
.text-price-bis {
  font-family: "Consolas", sans-serif;
  font-size: 1.25rem; //20px
  font-weight: 800; //bold
}
