$text-color: rgba(51, 51, 51, 1); // noir foncé text  // rgba(51, 51, 51, 1)
$bg-jne: rgba(242, 243, 236, 1);

$spacing: 2rem;

//COLORS
$color-bg-hr-ft: #0f172a; //bleu foncé header footer
$secondary-color: #38bdf8; // bleu clair logo text
$tertiary-color: white; //blanc text
$logo-color: #0284c7; // bleu clair logo
