.spaces {
  padding: 5rem 0;
  .saved-spaces-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.saved-spaces-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.saved-space {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background: white;
  border: 1px solid #dce1e7;
  border-radius: 1rem;

  &-image {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 0.75rem;
  }

  &-content {
    flex: 1;

    h2 {
      margin: 0 0 0.5rem;
      font-size: 1.2rem;
    }
  }

  &-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.9rem;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}
