main {
  background-color: #e2e8f0;
}
.spaces {
  padding: 10rem 0;
  .saved-spaces-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
.saved-space-image-container {
  overflow: hidden;
}

.saved-spaces-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.saved-space {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: white;
  border: 1px solid #dce1e7;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &:hover {
    .saved-space-image {
      transform: scale(1.03);
    }
  }
  .saved-space-image {
    transition: transform 0.4s ease;
  }

  &-image {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 0.75rem;
    border-radius: 1rem 0 0 1rem;
    transition: transform 0.3s ease;
  }

  &-content {
    flex: 1;

    h2 {
      margin: 0 0 0.5rem;
      font-size: 1.2rem;
    }
  }

  &-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.9rem;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}

.saved-space-content {
  padding: 1rem;
}
.saved-space-actions {
  padding: 1rem;
}

/******************* MESSAGE SI AUCUN ESPACE SAUVEGARDE ***************/
.empty-selection-message {
  display: flex;
  height: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  h2 {
    margin-bottom: 1rem;
  }
}
.empty-selection-message p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.empty-selection-icon {
  width: 80px;
  height: 80px;
  border-radius: 30%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
