@use "../abstracts/variables" as *;

/*containers*/
.container {
  width: 90%;
  margin: 0 auto;
}
.container-small {
  width: 55%;
  margin: 0 auto;
}
.container-xsmall {
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .container {
    width: 70%;
  }
}
