@use "../abstracts/variables" as *;

/*containers*/
.container {
  width: 70%;
  margin: 0 auto;
}
.container-small {
  width: 55%;
  margin: 0 auto;
}
.container-xsmall {
  width: 50%;
  margin: 0 auto;
}
